@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

body, html {
    margin: 0px;
    background-color: white;
}

.menu-bar {
    padding: 15px;
    font-family: 'Sen', sans-serif;
    width: 97.9%;
    background-color: red;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 7px;
    width: 53px;
    height: 32px;
    margin-right: 0px;
}

.menu-logo {
    margin-left: 50px;
    display: flex;
}

.menu-buttons {
    margin-right: 100px;
}

h1{
    color: #333;
    text-shadow: #333 2px 2px 5px;
    text-align: center;
}

input {
    font-size: 15px;
    border: none;
    padding: 10px;
    background-color: red;
    color: white;
    font-weight: 600;
    border-radius: 7px;
    margin-top: 8px;
}

input:hover{
    transition: all 0.5s ease;
    border-radius: 7px;
    background-color: rgb(117, 35, 35);
}

input:active {
    background-color: rgb(124, 33, 33);
}

p {
    margin-right: 0px;
    color: whitesmoke;
    font-weight: bolder;
    text-shadow: rgb(80, 13, 4) 2px 2px 5px;
}