/* Login page config */
.form-container .main {
    min-width: fit-content;
    min-height: fit-content;
    border-radius: 10px;
}

.form-container .img {
    min-width: 45%;
    margin: 20px 20px 0px 20px;
}

.form-container .image {
    width: 90%;
}

.form-container .form .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container .form input {
    border: 2px solid #D9D8DB;
    background-color: #F4F6F8;
    margin-bottom: 5px;
    padding: 13px;
    width: 16em;
    border-radius: 5px;
}

.form-container .form .btn {
    width: 14.7em;
    margin-top: 15px;
}

.form-container .main {
    padding: 20px;
    display: flex;
    /* width: 750px; */
    min-width: fit-content;
    min-height: 50%;
    /* width: 55vw; */
    /* height: 65vh; */
    background: #fff;
}

.menu1 .login-btn {
    background-color: rgb(117, 35, 35);
}

.form-container {
    width: 100vw;
    height: 90.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://srv2.imgonline.com.ua/result_img/imgonline-com-ua-blur-XcAgI7B0AcX.jpg");
    background-size: 100%;
}

.menu0 {
    margin-right: 50px;
}

/* h2 {
    margin: 0px 0px 0px 30px;
} */